@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Limbu&display=swap');
*{
    font-family: 'Noto Sans Limbu', sans-serif;  
    font-size: medium;
    font-weight: 300;
    color: white;
    margin: 0;      
    padding: 0;      
}
body{
    background-color: rgb(43 40 46);
}
    /*  ZAGLAVLJE   */
#header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 7vh;  
    margin-left: 10px;
}
.menu{
    list-style-type: none; 
    margin-right: 10px;
}
.menu-iteam{
    display: inline;      
} 
.menu-iteam  a {
    padding: 14px 16px; 
    text-decoration: none; 
}
.menu-iteam a:hover {
    font-style: italic;
}
    /*  KRAJ ZAGLAVLJA  */
td, th {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 6px;
}
.celina{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:  16px 80px;
}
h1, caption{    
    font-style: italic;
    font-size: xx-large;
}
li{
    padding: 8px;
}
iframe{
    left:0;
    top:0;
    width:100%;
    position:relative;
}
    /* RESPOZIVNOST */
@media (max-width: 768px) {
    #header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
		width: 100%;
        height: auto;
    }    
    #logo{
        margin-left: 0;
    }
    .menu{        
        margin-right: 0;
    }
    .menu-iteam{
        display: block;      
    }  
    .menu-iteam a{
        display: block;
        text-align: center;
    }     
    .celina {
        flex-direction: column;    
    } 
    .tackica{
        list-style-type: none;
    }
    .cena{
        text-align: center;
        margin-top: 16px;
        margin-bottom: 32px;
    }
  }
 