@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Limbu&display=swap');
*{
    font-family: 'Noto Sans Limbu', sans-serif;  
    font-size: medium;
    font-weight: 300;
    color: white;
    margin: 0;      
    padding: 0;      

}
body {
    background-color: rgb(43 40 46);
}
    /*  ZAGLAVLJE   */
nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    height: 7vh;  
    margin-left: 10px;
}
.menu {
    list-style-type: none;
    margin-right: 10px;
}
.menu-iteam {
    display: inline; 
}
.menu-iteam  a {
    padding: 14px 16px; 
    text-decoration: none; 
}
.menu-iteam a:hover {
    font-style: italic;
}
/*  KRAJ ZAGLAVLJE   */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.title{
    width: 100vw;
    position: relative;
    background: url(../img/bgPlanetarijum.jpg);
    background-size: cover;
    z-index:1;
}
.senkaPrekoSlike {
    position: absolute;
    background-color: rgb(41 42 45 / 72%);
    width: 100%;
    height: 100%;
    z-index: 2;
}
  h1{
    position: relative; 
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    padding:120px 10px;
    z-index: 3;
}
p{    
    margin: 5px;
    padding: 10px;
}
.paragraph{
    margin: 10px; 
    border-radius: 50px 40px ;
    background-color: rgb(50 45 53);
    width: 98% 
}
    /*  RESPOZIVNOST   */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
		width: 100%;
        height: auto;
    }    
    #logo{
        margin-left: 0;
    }
    .menu{        
        margin-right: 0;
    }
    
    .menu-iteam{
        display: block;      
    } 
    .menu-iteam a{
        display: block;
        text-align: center;
    }
    h1{
        font-size: 20px;
    } 
    .paragraph{
        margin: 10px 0;
    }
}